[submodule "cleanrl"]
  path = 3rd_party/workers/cleanrl_worker/cleanrl
  url = https://github.com/vwxyzjn/cleanrl.git

[submodule "ray"]
  path = 3rd_party/workers/ray_worker/ray
  url = https://github.com/ray-project/ray.git

[submodule "xuance"]
  path = 3rd_party/workers/xuance_worker/xuance
  url = https://github.com/agi-brain/xuance.git

[submodule "mujoco_mpc"]
  path = 3rd_party/workers/mujoco_mpc_worker/mujoco_mpc
  url = https://github.com/google-deepmind/mujoco_mpc.git

[submodule "PettingZoo"]
  path = 3rd_party/workers/pettingzoo_worker/PettingZoo
  url = https://github.com/Farama-Foundation/PettingZoo.git

[submodule "Shimmy"]
  path = 3rd_party/tools/shimmy/Shimmy
  url = https://github.com/Farama-Foundation/Shimmy.git

[submodule "BALROG"]
  path = 3rd_party/workers/balrog_worker/BALROG
  url = https://github.com/balrog-ai/BALROG.git

[submodule "multigrid"]
  path = 3rd_party/environments/multigrid-ini
  url = https://github.com/ini/multigrid.git

[submodule "procgen"]
  path = 3rd_party/environments/procgen
  url = https://github.com/openai/procgen.git

[submodule "Syllabus"]
  path = 3rd_party/tools/Syllabus
  url = https://github.com/RyanNavillus/Syllabus.git

[submodule "mosaic_multigrid"]
  path = 3rd_party/environments/mosaic_multigrid
  url = https://github.com/Abdulhamid97Mousa/mosaic_multigrid.git

[submodule "llm_chess"]
  path = 3rd_party/workers/chess_worker/llm_chess
  url = https://github.com/maxim-saplin/llm_chess.git

[submodule "jumanji"]
  path = 3rd_party/workers/jumanji_worker/jumanji
  url = https://github.com/instadeepai/jumanji.git

[submodule "MARLlib"]
  path = 3rd_party/workers/marllib_worker/MARLlib
  url = https://github.com/Replicable-MARL/MARLlib.git

[submodule "LLM-Game-Benchmark"]
  path = 3rd_party/workers/llm_game_worker/LLM-Game-Benchmark
  url = https://github.com/research-outcome/LLM-Game-Benchmark.git

[submodule "tianshou"]
	path = 3rd_party/workers/tianshou_worker/tianshou
	url = https://github.com/thu-ml/tianshou.git

[submodule "3rd_party/workers/sample_factory_worker/sample-factory"]
	path = 3rd_party/workers/sample_factory_worker/sample-factory
	url = https://github.com/alex-petrenko/sample-factory.git

[submodule "football"]
  path = 3rd_party/environments/football
  url = https://github.com/google-research/football.git

[submodule "Competition_Olympics-Wrestling"]
  path = 3rd_party/environments/Competition_Olympics-Wrestling
  url = https://github.com/jidiai/Competition_Olympics-Wrestling.git

[submodule "Craftax"]
  path = 3rd_party/environments/Craftax
  url = https://github.com/MichaelTMatthews/Craftax.git

[submodule "JaxMARL"]
  path = 3rd_party/workers/jaxmarl_worker/JaxMARL
  url = https://github.com/FLAIROx/JaxMARL.git
[submodule "3rd_party/workers/sbx_worker/sbx"]
	path = 3rd_party/workers/sbx_worker/sbx
	url = https://github.com/araffin/sbx.git
[submodule "3rd_party/workers/mushroom_rl_worker/mushroom-rl"]
	path = 3rd_party/workers/mushroom_rl_worker/mushroom-rl
	url = https://github.com/MushroomRL/mushroom-rl.git
[submodule "3rd_party/workers/pearl_worker/Pearl"]
	path = 3rd_party/workers/pearl_worker/Pearl
	url = https://github.com/facebookresearch/Pearl.git
